{% extends 'base.html' %}
{% block title %}
Create Playlist
{% endblock title %}
{% block content %}
  <br />
  <div class="container">
    <form action="/create_playlist" method="POST">
      <div class="row">
        <div class="col">
          <label for="playlist_name">
            <h3>New Playlist</h3>
          </label>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            name="playlist_name"
            id="playlist_name"
            placeholder="Enter Playlist Name"
          />
        </div>
      </div>
      <br>
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Song Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td class="col">
                <h5>{{ song.title }}</h5><em>{{ song.artist.firstname }} {{ song.artist.lastname }}</em>
              </td>
              <td class="col text-end">
                <input type="checkbox" class="form-check-input dark " id="form-check-input]" name="song_ids[]" value="{{ song.id }}">
                <label for="form-check-input">
                  Add
                </label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="container text-center">
        <button type="submit" class="btn btn-success">Create Playlist</button>
      </div>
    </form>
    </div>
{% endblock content %}
