{% extends 'base.html' %} {% block title %} {{song.title}} {% endblock title %}
{% block content %}
<br />
<br />
<div class="container" style="
    height: 600px;
    width: 800px;
    background-color: #f0f0f0;
    border-radius: 15px;
  ">
  <br />
  <div class="row">
    <div class="col">
      <h2 class="ms-4">{{song.title}}</h2>
      <em class="ms-4"> By {{song.artist.firstname}} {{song.artist.lastname}}</em>

    </div>
    <div class="col text-end mt-2 me-2">
      <form method="POST" action="{{ url_for('controllers.rate_song', song_id=song.id) }}">
        <div class="btn-group" role="group" aria-label="Rating">
          <button type="submit" class="btn" style="background-color: red;" name="rating" value="1">1</button>
          <button type="submit" class="btn" style="background-color: rgba(255, 98, 0, 0.832);" name="rating"
            value="2">2</button>
          <button type="submit" class="btn" style="background-color: rgb(255, 203, 47);" name="rating"
            value="3">3</button>
          <button type="submit" class="btn" style="background-color: greenyellow;" name="rating" value="4">4</button>
          <button type="submit" class="btn" style="background-color: rgb(47, 255, 89);" name="rating"
            value="5">5</button>
        </div>
      </form>

    </div>
  </div>
  <h1 class="text-center">Lyrics</h1>
  <div class="container rounded mt-2" style="
      border-radius: 15px;
      width: 600px;
      height: 400px;
      background-color: antiquewhite;
      overflow: auto;
    ">
    <p class="m-2">
      {{song.lyrics}}
    </p>
  </div>
</div>

{% endblock content %}